@import url('https://fonts.googleapis.com/css?family=Catamaran|Dancing+Script&display=swap');

.container {
    width: 1280px;
    align-items: center;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;

}

.head {
    height: 450px;
    background-image: url("../img/header.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.black-line {
    width: 100%;
    height: 56px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 10%;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.first-item {
    color: white;
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
    font-family: 'Dancing Script', cursive;
}

.menu-item:hover {
    color: #14b9d5;
}

.search {
    display: flex;
    margin: auto;
}

.latest-news {
    font-size: 27px;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Dancing Script', cursive;
}

.two-button {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: -100px;
}

.button-subscribe {
    width: 170px;
    height: 55px;
    color: white;
    background-color: #89ca62;
    border-radius: 5px;
    cursor: pointer;
}

.button-articles {
    width: 170px;
    height: 55px;
    color: white;
    background-color: #14b9d5;
    border-radius: 5px;
    cursor: pointer;

}

.next-page {
    display: flex;
}

.pop {
    display: flex;
    flex-direction: column;

    background-color: #f2f2f2;
}

.popular-posts {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 22px;
    color: #14b9d5;
    font-family: 'Catamaran', sans-serif;

}



.popular-posts-sub {
    text-align: center;
    font-size: 18px;
    background-color: white;
}

.popular-clients {
    display: grid;

    background-image: url(../img/html_css_homework_homework6_img_parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.popular-clients-item {
    display: grid;
    grid-template-rows: 500px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;

}



.name-of-clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.top-name {
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: #14b9d5;
    margin: 50px;
    font-family: 'Catamaran', sans-serif;
}

.top-rated {
    display: flex;
    justify-content: center;
}

.hot-news {
    width: 95%;
    display: grid;
    grid-row-gap: 50px;
    margin-bottom: 30px;
    font-family: 'Catamaran', sans-serif;
}

.news-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.hotel-emirate {
    display: grid;
}

.padding{
padding: 10px;
}

.emirate-text {
    display: grid;
    align-items: center;
    padding: 10px;
}

.hotel-spain {
    display: grid;
    justify-items: center;
}

.news-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-family: 'Dancing Script', cursive;
}

.egypt-text {
    display: grid;
}

.news-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.hotel-spain-two {
    display: grid;
}

.spain-two-text {
    display: grid;
    align-items: center;
    justify-items: center;
}


.black-line-2 {
    display: grid;
    grid-template-columns: 2fr 0fr 1fr;
    height: 56px;
    background-color: black;
}

.last-logo {
    align-self: center;
}

.last-text {
    display: grid;
    align-self: center;
    color: white;
    justify-items: center;
}

.logo-text {
    display: grid;
    align-self: center;
    color: white;

}